<html>
<body>
<div id="main">
    <div class="content">
<% form_for @inbox do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => current_user.id -%>
  <p>
    <%= f.text_area :content, :rows => '3', :cols => '35' %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %> 
    </div>
    </div>
</div>
</body>
</html>
